<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home</title>
  <link rel="stylesheet" href="/static/css/style.css" />

</head>
<body>
  <nav>
    <a class="logo" href = "{{url_for('student_home')}}"></a>
    <ul>
      <li><a href="{{url_for('student_home')}}">Home</a></li>
      <li><a href="{{url_for('student_register')}}">Course Register</a></li>
      <li><a href="{{url_for('student_calendar')}}">Student Calendar</a></li>
      <li><a href="{{url_for('home')}}">Sign out</a></li>
    </ul>
  </nav>

</body>
</html>
