<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <nav>
    <a class="logo" href = "{{url_for('home')}}"></a>
    <ul>
      <li><a href="{{url_for('home')}}" class = "active">Home</a></li>
      <li><a href="#">About</a></li>

      <li><a href="{{url_for('loginpage')}}">Sign in</a></li>
    </ul>
  </nav>

</body>
</html>
